<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/static/tarefas.css">

<head>
    <title>{{ titulo }}</title>
</head>

<body>
    <h1>{{ titulo }}</h1>
    <form method="post">
        <label for="nome">Nome da Tarefa:</label>
        <input type="text" id="nome" name="nome" value="{{ tarefa.nome if tarefa else '' }}" required>
        <br>
        <label for="projeto_id">ID do Projeto:</label>
        <select id="projeto_id" name="projeto_id" required>
            {% for projeto in projetos %}
            <option value="{{ projeto.id }}" {% if tarefa and tarefa.projeto_id==projeto.id %}selected{% endif %}>
                {{ projeto.nome }}
            </option>
            {% endfor %}
        </select>
        <br>
        <button type="submit">Salvar</button>
    </form>
</body>

</html>